button,
input
{
  display: block;
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  border-radius: 4px;
  border: 1px solid rgb(201, 199, 199);
}

[type="checkbox"] {
  display: inline;
}

::-webkit-input-placeholder {
  color: rgb(190, 186, 186);
}
  
:focus::-webkit-input-placeholder{
  opacity: 0; 
}

button {
  border: 1px solid #0366EE;
  display: inline;
  padding: 5px;
  background: #0366EE;
  color: #ffffff;
  font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 1rem;
  margin: 10px;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  line-height: 1;
}

button:hover {
  border: 1px solid #14c765;
  background: #14c765;
  color: #ffffff;
  text-decoration: none; 
}

button:disabled {
  border: 1px solid #9fa1a3;
  background: #9fa1a3;
  color: #ffffff;
  text-decoration: none; 
}

.split {
  padding-bottom: 50px;
}

table {
  border-collapse: collapse;
  border: 1px solid rgb(201, 199, 199);
  margin: 5px;
}

td {
  border: 1px dashed rgb(201, 199, 199);
}

thead td{
  font-weight: bold;
  padding-left: 2px;
}

tbody td {
  padding: 0px 7px 0px 2px;
}

.category{
  text-align: center;
  font-weight: bold;
}





