input
{
  display: block;
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  border-radius: 4px;
  border: 1px solid rgb(201, 199, 199);
}

.inline {
  display: inline;
}

::-webkit-input-placeholder {
  color: rgb(190, 186, 186);
}
  
:focus::-webkit-input-placeholder{
  opacity: 0; 
}

table {
  border-collapse: collapse;
  border: 1px solid rgb(201, 199, 199);
  margin: 5px;
}

td {
  border: 1px dashed rgb(201, 199, 199);
}

thead td{
  font-weight: bold;
  padding: 0px 7px 0px 2px;
}

tbody td {
  padding: 0px 7px 0px 2px;
}

.category{
  text-align: center;
  font-weight: bold;
}

.red {
  color: red;
}





